:root {
  --oc-border-radius-default: 1px;

  --oc-border-radius: var(
    --oc-border-radius-custom,
    var(--oc-border-radius-default)
  );
}

body {
  color: rgb(10, 20, 10);
}

h5 {
  font-size: 1.1rem;
}

/* nav pills */
.nav.nav-pills a {
  border-radius: var(--oc-border-radius);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* cards */
.card {
  border-radius: var(--oc-border-radius);
}

/* callouts */
.oc-callout {
  border: 1px solid #eee;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.oc-callout p {
  padding: 0;
  margin: 0;
}

.oc-callout-info {
  border-left: 0.25rem solid #5bc0de;
}

oc-path-operations .tab-content {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
}

oc-path-operation .lead {
  font-size: 1rem;
  font-weight: bold;
}

.oc-param-name {
  font-weight: bold;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.oc-param-example {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}
