:root {
  --oc-border-radius-default: 1px;

  --oc-border-radius: var(
    --oc-border-radius-custom,
    var(--oc-border-radius-default)
  );
}

body {
  color: #fff;
  background-color: #F07A9F;
  background: linear-gradient(90deg, rgba(240,122,159,1) 0%, rgba(237,155,181,1) 100%);
  padding: 2rem 1rem;
  padding-bottom: 100rem;
}

h1, h2 {
  color: #fff;
}

.card {
  color: rgb(10, 20, 10);
  border-radius: 2px !important;
  padding: 1rem;
}

h5 {
  font-size: 1.1rem;
}

.spec-header {
  padding: 1rem 2rem;
}

/* nav pills */
.nav.nav-pills a {
  border-radius: var(--oc-border-radius);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* cards */
.card {
  border-radius: var(--oc-border-radius);
}

/* callouts */
.oc-callout {
  border: 1px solid #eee;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.oc-callout p {
  padding: 0;
  margin: 0;
}

.oc-callout-info {
  border-left: 0.25rem solid #5bc0de;
}

oc-path-operations .tab-content {
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
}

oc-path-operation .lead {
  font-size: 1rem;
  font-weight: bold;
}

.oc-param-name {
  font-weight: bold;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

.oc-param-example {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
}

oc-foldable header {
  user-select: none;
  position: relative;
  cursor: pointer;
  padding-left: 1rem;
}

oc-foldable header:before {
  content: '\25B6';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: .75em;
}

oc-foldable.show header:before {
  transform: translateY(-50%) rotate(90deg);
}


oc-foldable-container {
  display: none;
}
oc-foldable.show oc-foldable-container {
  display: block;
}

.oc-anchor-copy-help {
  position: relative;
}

.oc-anchor-copy-help:before, .oc-anchor-copy-help:hover:before {
  content: '\1F517';
  position: absolute;
  top: 5%;
  left: -1rem;
  color: transparent;
  /* text-shadow: 0px 0px 0 #ababab; */

}

.oc-anchor-copy-help:hover:before {
  text-shadow: 0px 0px 0 #233dd2;
  font-size: .875em;
}

.oc-spec-menu li {
  margin-bottom: .5rem;
}
.oc-spec-menu a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: .5rem;
  border-radius: 2px;

}

.oc-spec-menu a.active, .oc-spec-menu a:hover {
  background-color: #fff;
  color: #F07A9F;
}

@media (min-width: 600px) {
  .oc-main-menu {
    top: 6rem;
    position: fixed;
  }
}

@media (max-width: 600px) {
  .oc-main-menu {
    display: none;
  }
}

oc-request-body .lead {
  font-weight: normal;
  /* font-style: italic; */
}
